.like-button {
    padding: 5px 6px 4px;
    border: none;
    box-shadow: 0 1px 3px vaR(--d-0);
    display: inline-block;
    background-color: var(--l-1);
    border-radius: 50%;
}

.like-button::before {
    font-family: fontawesome;
    content:'\f004';
    font-style:normal;
}

.like-button.liked::before {
    color: var(--e-1);
}
